body {
    margin: 0% auto;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.registration-form {
    width: 100%;
    padding: 20px;
     background-color: rgb(26, 26, 25); 
    border: 1px solid rgb(90, 90, 85);
    border-radius: 10px;
    color: #fff;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;

}
label{
    text-transform: capitalize;
    margin-left: 20px;
    font-weight: 500;
     font-family: 'Times New Roman', Times, serif;
}

input {
    width: 45%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #464444;
    border-radius: 10px;
}

button{
    width:45% ;
    padding: 10px;
    background-color: #4caf50;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.btn:hover {
    background-color: #3e8e41;
}
.btn:hover {
    text-shadow: 5px 5px 5px #6e6969;
    font-weight: bold;
    text-transform: capitalize;
    transition: 4s;
    cursor: grab;
    color: #665544;
    
}

p {
    text-decoration: double;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: capitalize;
}
a:link{
    color: rgb(153, 44, 62);
}
a:visited{
    color: rgba(202, 79, 202, 0.26);
}
a:active{
    color: #a0647d;
}
a:focus{
    color: #459eb4;
}
a:hover{
    text-shadow: 5px 5px 5px #272626;
    font-weight: bold;
    text-transform: capitalize;
    transition: 4s;
    cursor: grab;
    color: #617cad
}

.card-section {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    position: absolute;
    top: 110%;
    left:24%;
   
} 

.card{
    width: 100%;
     padding: 20px; 
     background-color: rgb(26, 26, 25); 
    border: 1px solid rgb(90, 90, 85);
    border-radius: 10px;
    color: #fff;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
